---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Heading from './_components/atoms/Heading.astro';
import ZennArticleList from '@/components/domain/zenn-article/molecules/ZennArticleList.astro';
import { MoveRight } from 'lucide-react';
---

<BaseLayout>
  <div class="flex flex-col items-center ~px-2/8 ~py-6/12 space-y-2">
    <h1 class="~text-4xl/7xl font-bold font-ich1Q">airRnot.dev</h1>
    <p class="~text-base/3xl font-ich1Q">airRnot's blog</p>
  </div>
  <hr class="~mx-2/8" />
  <div class="~px-2/8 ~py-4/8 space-y-4">
    <Heading level="h2" title="最近の活動" subTitle="さいきんのかつどう" />
    <div>
      <Heading level="h3" title="技術記事" subTitle="わたしがかきました" />
      <ZennArticleList class="~m-2/4" />
    </div>
    <div>
      <Heading level="h3" title="TODO" subTitle="やりたいこと" />
      <a
        href="/todo"
        class="flex items-center ~text-xl/3xl font-bold text-rosePineDawn-pine underline ~m-2/4 w-fit"
        ><MoveRight className="translate-y-0.5" />TODO</a
      >
    </div>
  </div>
</BaseLayout>
