---
import { buttonVariants } from '@/components/ui/button';
import type { ComponentProps } from '@/types';
import { GitHubLogoIcon } from '@radix-ui/react-icons';

export type SiteHeaderProps = ComponentProps;
type Props = SiteHeaderProps;
const { class: className } = Astro.props;
---

<header class={`flex items-center justify-between ${className}`}>
  <a href="/" class="select-none text-3xl font-bold">airRnot.dev</a>
  <ul class="flex items-center space-x-1">
    <li>
      <a href="/about" class={buttonVariants({ variant: 'ghost' })}>about</a>
    </li>
    <li>
      <a
        href="https://github.com/airRnot1106"
        class={buttonVariants({ variant: 'ghost' })}
      >
        <GitHubLogoIcon width="24" height="24" />
      </a>
    </li>
  </ul>
</header>
