@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ich1Q";
  src: url("/fonts/ich1Q-hand-Regular.ttf") format("truetype");
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
