---
import SiteFooter from '@/components/domain/site/molecules/SiteFooter.astro';
import SiteHeader from '@/components/domain/site/molecules/SiteHeader.astro';

import '@/globals.css';
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>airRnot.dev</title>
  </head>
  <body
    class="flex min-h-screen flex-col bg-rosePineDawn-base text-rosePineDawn-text font-zen_kaku_gothic_new [&_*]:border-rosePineDawn-separator"
  >
    <SiteHeader class="border-b ~px-3/6 py-2" />
    <main class="grow">
      <slot />
    </main>
    <SiteFooter class="border-t bg-rosePineDawn-surface p-3" />
  </body>
</html>
